# Ignore data folder
data/
# Ignore qa/data folder
qa/data/
qa/meta/
# IDE
.idea
.venv

# Cache
__pycache__
.ruff_cache
.pytest_cache
node_modules

# Directories
.debug

# Files
example.py

# Extensions
*.env
